# Generated directories and files
obj/
m4/
autom4te.cache/
libdxfrw.pro*
Makefile
*.o
*.lo
*.a
*.la
*so
*lo
*.la
*.o
*.dll
*~
*bz2
#vim files
*.swp
*.orig
.deps
.libs
doc/
config.log
config.status
libdxfrw*.pc
libtool
.vs/
packages/
/vs2013/libdxfrw.sdf
/vs2013/libdxfrw.v12.suo
/vs2013/Debug
/vs2013/Release
/vs2013/libdxfrw.opensdf
/vs2013/libdxfrw.vcxproj.user
/dwg2dxf/vs2013/Debug
/dwg2dxf/vs2013/Release
/dwg2dxf/vs2013/dwg2dxf.opensdf
/dwg2dxf/vs2013/dwg2dxf.sdf
/dwg2dxf/vs2013/dwg2dxf.v12.suo
/dwg2text/vs2013/Debug
/dwg2text/vs2013/Release
/dwg2text/vs2013/dwg2dxf.opensdf
/dwg2text/vs2013/dwg2dxf.sdf
/dwg2text/vs2013/dwg2dxf.v12.suo
.idea
build
debug
compile
.cproject
.project
CMakeCache.txt
cmake_install.cmake
src/intern/.dirstamp
